html {
    font-family: "MINI Serif";
    background-color: white;
    min-width: 360px;
}

p {
    color: rgb(27, 27, 27);
    font-size: 14px;
    line-height: 17px;
}

h2 {
    font-size: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    height: 28px;
    width: 100%;
    padding: 10px;
    background-color: white;
    .navLogo {
        height: 100%;
        width: auto;
    }
}

.videoBox {
    width: 100%;
    margin-top: 48px;
    //height: calc(var(width) * 0.5625);
    video {
        width: 100%;
        height: auto;
    }
}

.carListBox {
    position: relative;
    top: -28px;
    width: 100%;
    background-color: white;
    padding: 16px 0 0;
    .carListHeader{
        margin: 0 16px 20px;
        text-align: left;
        color: black;
    }
    .carList {
        margin: auto;
        height: 50px;
        max-width: 670px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        .carIcon {
            height: 100%;
            width: auto;
            cursor: pointer;
        }
    }
}

.dynInfoBox {
    padding: 12px 16px 0px;
    margin: auto;
    .dynPic {
        width: 100%;
        max-width: 400px;
        margin: 0px auto 20px;
        display: flex;
        align-self: center;
    }
    .dynHeaderBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0px 14px;
        .dynName {
            width: 50%;;
            text-align: left;
            color: black;
        }
        .dynPrice {
            width: 50%;;
            text-align: right;
            color: black;
        }
    }
    .dynDesc {
        margin: 0px 0px 22px;
    }
}

.divider {
    max-width: 100%;
    margin: auto;
    height: 1px;
    background-color: rgb(27, 27, 27);
}

.footbar {
    height: 20px;
    padding: 16px;
}